* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: bold 14px Arial, sans-serif;
}

html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #C71585 20%, #ccc);
    background-size: cover;
}

h1 {
	text-align: center;
	color: white;
	text-shadow: red;
	size: 20px;
}

#calculator {
    width: 325px;
    height: auto;
    margin: 10px auto;
    padding: 20px 20px 9px;
    background: #008000;
    background: linear-gradient(#F08080, #FFA07A, #FFEFD5);
    border-radius: 3px;
    box-shadow: 0px 4px #C71585, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.top span.clear {
    float: left;
}

.top .screen {
    height: 40px;
    width: 212px;
    float: right;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

.keys, .top {overflow: hidden;}
.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;

    cursor: pointer;

    width: 66px;
    height: 36px;

    background: #FFE4E1;
    border-radius: 3px;
    box-shadow: 0px 4px #CD5C5C;

    margin: 0 7px 11px 0;

    color: #CD5C5C;
    line-height: 36px;
    text-align: center;

    user-select: none;
    transition: all 0.2s ease;
}
.keys span.operator {
    background: #FFE4E1;
    margin-right: 0;
}

.keys span.eval {
    background: #FFE4E1;
    box-shadow: 0px 4px #CD5C5C;

    color: #CD5C5C;
}

.top span.clear {
    background: #FFE4E1;
    box-shadow: 0px 4px #CD5C5C;
    color: #CD5C5C;
}

/* Some hover effects */
.keys span:hover {
    background: #9c89f6;
    box-shadow: 0px 4px #CD5C5C;
    color: #CD5C5C;
}

.keys span.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px #CD5C5C;
    color: #CD5C5C;
}

.top span.clear:hover {
    background: #f68991;
    box-shadow: 0px 4px #CD5C5C;
    color:#CD5C5C;
}

.keys span:active {
    box-shadow: 0px 0px #C71585;
    top: 4px;
}

.keys span.eval:active {
    box-shadow: 0px 0px #C71585;
    top: 4px;
}

.top span.clear:active {
    top: 4px;
    box-shadow: 0px 0px #C71585;
}
